a{
  text-decoration: none;
}

.menu a{
  color: #fff;
  margin-left: 20px;
}

.loading{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iiz{
  height: 500px;
}